# Node modules
node_modules/

# Env files
.env

# Build output
dist/
build/

# Prisma
prisma/.env
prisma/migrations/*/README.md
prisma/generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TS
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
